<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SteamScraper.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SteamScraper.Properties.Settings>
            <setting name="DownloadSteamBanner" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DownloadScreenshots" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DownloadBackgroundImage" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DownloadBoxImage" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DownloadClearLogo" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DownloadMarquee" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="VideoQuality" serializeAs="String">
                <value>"max"</value>
            </setting>
            <setting name="VideoOnlyGames" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="StarRating" serializeAs="String">
                <value>"UserRating"</value>
            </setting>
            <setting name="CF_Flags" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CF_Tags" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CF_Hltb" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CF_Metacritic" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CF_UserRating" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Link_SteamDB" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Link_SteamSpy" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Link_SteamStore" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Link_Wiki" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Link_Official" serializeAs="String">
                <value>False</value>
            </setting>
        </SteamScraper.Properties.Settings>
    </userSettings>
</configuration>